<!DOCTYPE html>

<html
        lang="es"
>

    <head>

        <meta
                charset="UTF-8"
        >

        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
        >

        <title>
            Formulario
        </title>

        <link
                rel="stylesheet"
                th:href="@{/style.css}"
        >

    </head>

    <body>

        <form
                action="recibeParametros"
                method="post"
        >

            <label
                    id="lab_nombre"
                    for="nombre"
            >
                Nombre:
            </label>
            <input
                    id="nombre"
                    name="nombre"
                    type="text"
                    value="Jesús"
            />

            <br/>

            <label
                    id="lab_clave"
                    for="clave"
            >
                Contraseña:
            </label>
            <input
                    id="clave"
                    type="password"
                    name="clave"
            />

            <br/>

            <input
                    type="hidden"
                    name="pi" id="pi"
                    value="3.1415"
            />

            <label
                    id="lab_descripcion"
                    for="descripcion">
                Text Area
            </label>
            <textarea
                    name="descripcion"
                    id="descripcion"
                    placeholder="hola"
            ></textarea>

            <br/>

            <th:block
                    th:each="generos : ${lista_generos}"
            >
                <input
                        type="radio"
                        th:id="'rad_'+${generos.getValue()}"
                        th:value="${generos.getKey()}"
                />
                <label
                        th:id="'lab_'+${generos.getValue()}"
                        th:for="'rad_'+${generos.getValue()}"
                >
                    <th:block
                            th:text="${generos.getValue()}"
                    />
                </label>
            </th:block>

            <br/>

            <th:block th:each="aficiones : ${lista_aficiones}">
                <input type="checkbox" name="aficiones" id="aficion+${}" value="1"/><label for="checkbox_1">1</label>
            </th:block>
            <input type="checkbox" name="prueba_checkbox" id="checkbox_1" value="1"/><label for="checkbox_1">1</label>
            <input type="checkbox" name="prueba_checkbox" id="checkbox_2" value="2"/><label for="checkbox_2">2</label>
            <input type="checkbox" name="prueba_checkbox" id="checkbox_3" value="3"/><label for="checkbox_3">3</label>
            <input type="checkbox" name="prueba_checkbox" id="checkbox_4" value="4"/><label for="checkbox_4">4</label>
            <br/>

            <label id="lab_select" for="select">Selección</label>
            <select id="select" name="Select">
                <option th:each="paises : ${lista_paises}" th:value="${paises.getKey()}"
                        th:text="${paises.getValue()}"></option>
            </select><br/>

            <label id="lab_select_multi" for="select_multi">Selección multiple</label>
            <select name="Select_multiple" id="select_multi" multiple="multiple">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="selected">3</option>
                <option value="4">4</option>
            </select><br/>

            <label id="lab_archivo" for="arch">Archivo</label>
            <input type="file" id="arch" name="arch"/><br/>

            <label id="lab_multi_arch" for="multi_arch">Varios archivos</label>
            <input type="file" multiple="multiple" id="multi_arch" name="multi_arch"/><br/>

            <input type="image" name="imagen" th:src="@{/img/Sin título.jpeg}" width="200px" height="200px"
                   alt="imagen de envio" id="btn_img"/><br />

            <input type="submit" id="btn_enviar"/>

            <input type="reset" id="btn_reset"/>

            <button id="boton">Botón</button>

        </form>

    </body>

</html>
